% include('base.tpl')
<link rel="stylesheet" href="/static/css/login.css">
<div id="content">
    <form action="/register" method="post">
        <div id="login_div">
            <p> Username </p>
            <input name = "username" type="text" size="75" required>
            <p> Password </p>
            <input name = "password" type="password" size="75" required><br><br>
            <input type="submit" name="submit" value="Register">
        </div>
    </form>
</div>