% include('base.tpl')
<link rel="stylesheet" href="/static/css/submit.css">
<div id="content">
    <form action="/submitText" method="post">
        <div id="submit_div">
            <p> Title </p>
            <input name = "title" type="text" size="75" required>
            <p> Tag </p>
            <input name = "tag" type="text" size="75" required>
            <p> Content </p>
            <textarea name = "content" rows="5" cols="77" required></textarea><br><br>
            <input type="submit" name="submit" value="Submit">
        </div>
    </form>
</div>