body {
    width: 990px;
    margin:auto;
    
    font-family: monospace;
    background-color: #95a5a6;
}

#title {
    padding-left: 100px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 200;
    font-size: 48px;
    background-color: #CC424E;
    color:#e5e5e5;
    
}


#subhead {
    font-size:16px;
   
}
#navbar {
    height:30px;
    background-color: #101010;
}

.nav_button {
    height:inherit;
    width:15%;
    text-align: center;
    display:inline-block;
    
}

.nav_button:hover {
    background-color: coral;
}

.nav_button a {
    text-decoration: none;
    color: whitesmoke;
    vertical-align: sub;
}

a {
    text-decoration: none;
    color:white;
}

#content a:visited {
    color: white;
}

#content a:hover {
    color: coral;
}


#content {
    height: 100%;
    background-color: #2491be;
    padding: 10px;
    color:white;
}

