.post_div {
    
    border-radius: 5px;
    margin:5px;
    padding: 5px;
    background-color: #1c7396;
}

.post_title {
    margin-top:0px;
    margin-bottom: 0px;
}
.post_links {
    margin-top: 5px;
    font-size: 12px;
    
}

.post_links a{
    color: black;
}