
.post_div {
    
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

pre {
    white-space: pre-wrap;
    border:white thin solid;
    padding: 10px;
    border-radius: 5px;
    font-family: 'courier';
    background-color: #1c7396;
}

#comment_box {
    margin:10px;
}
#comment_textarea {
    width:940px;
    
}

.comment_div {
    padding: 5px;
    border: solid thin white;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #1c7396;
}